.activity-shell {
  width: 600px;
  margin: auto;
  h2.bold {
    margin-bottom: -1em;
  }
}

.new-activity-shell {
  margin: 3em auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.activity-new {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2em;
    height: 1px;
    width: 100%;
    background: #e2e2e2;
  }
}

main.activity-details {
  display: flex;
  gap: 4em;
  justify-content: space-between;
}

section.left,
section.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

section.left {
  width: fit-content;
  h2.bold:first-child {
    margin-top: 5px;
  }
}
section.right {
  width: 50%;
}

.time {
  display: flex;
  gap: 2em;
}

.time-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.hr,
.min,
.sec {
  display: flex;
  gap: 2ch;
  position: relative;
  input[type="number"] {
    text-align: end;
  }
}
.hr input[type="number"] {
  width: 9ch;
  padding-right: calc(2em + 1ch);
  height: 58px;
}
.min input[type="number"],
.sec input[type="number"] {
  width: 10ch;
  padding-right: calc(2em + 2ch);
  height: 58px;
}
.hr::after,
.min::after,
.sec::after {
  left: 5ch;
  bottom: calc(26px + 1ch);
}
.hr::after {
  content: "hr";
  position: absolute;
}
.min::after {
  content: "min";
  position: absolute;
}
.sec::after {
  content: "sec";
  position: absolute;
}

.supply-route-select {
  display: flex;
  gap: 1ch;
  background: #f9fcff;
  box-shadow: 0 0 0px 1px #eaedf0;
  align-items: center;
  select {
    font-size: 15px;
    font-weight: 600;
    background: #f9fcff;
    box-shadow: 0 0 0px 1px #eaedf0;
    padding: 4px;
  }
  i {
    font-size: 17px;
    padding: 4px 0px;
  }
}

.supply-route-map {
  height: 100%;
  width: 100%;
  background: rgb(249, 252, 255);
  object-fit: contain;
}

//ACTIVITY INDEX

.activity-index-card {
  display: grid;
  text-align: left;
  td,
  th {
    padding: 0.5em;
  }
  th {
    font-weight: 600;
  }
  tr:nth-child(even) {
    background: #e2e2e257;
  }
  thead {
    background: #f7f7fa;
    border-bottom: 2px solid #6d6d7824;
  }
}

.buttons-div {
  display: flex;
  gap: 1em;
}

img.activity-map {
  object-fit: cover;
  width: 100%;
}
