.buggout-shell {
  width: 600px;
  margin: auto;
  h2.bold {
    margin-bottom: -1em;
  }
}

.new-buggout-shell {
  margin: 3em auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.buggout-new {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2em;
    height: 1px;
    width: 100%;
    background: #e2e2e2;
  }
}

main.buggout-details {
  display: flex;
  gap: 4em;
  justify-content: space-between;
}

section.left,
section.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  width: 50%;
}

.time {
  display: flex;
  gap: 2em;
}

.time-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.supply-route-select {
  display: flex;
  gap: 1em;
  select {
    font-size: 1em;
    font-weight: 600;
  }
  i {
    font-size: 1em;
  }
}

.supply-route-map {
  height: 100%;
  width: 100%;
  background: rgb(249, 252, 255);
}
