.fullscreen-map {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.route-container {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
  width: 100vw;
}
.main-map-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 20px;
  padding: 0px 0px 0px 1em;
  margin: 0;
  height: 86vh;
  width: 100vw;
}

.route-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1em 2em 0 0;
}

.route-left ul {
  margin-right: 20px;
}

.route-preferences {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
  background: white;
  border-bottom: 1px solid #c3c3c3;
}

.pref-dropdown {
  display: flex;
  width: 100%;
  width: inherit;
  flex-direction: column;
  font-size: 17px;
  letter-spacing: 1.1px;
}

.pref-dropdown li {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 22px;
  font-size: 13px;
  font-weight: 100;
  border-radius: 2px;
  border-bottom: 1px solid grey;
  margin-left: 20px;
  margin-right: 35px;
}
.pref-dropdown li:last-child {
  border-bottom: none;
}

.pref-item {
  display: flex;
  width: 100%;
  display: flex;
}
.pref-item i.fas {
  padding-right: 15px;
}

.route-details {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding-top: 16px;
  font-size: 17px;
  letter-spacing: 1.1px;
}

.detail-toggle {
  display: flex;
  flex-direction: column;
}

.route-right {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.map-tools {
  display: flex;
  background-color: #f1f1f1;
  justify-content: space-between;
  align-items: center;
}

.tools-left {
  display: flex;
  justify-content: flex-start;
}

.map-search {
  display: flex;
  align-items: center;
}

.tools-right {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fas-tools {
  padding: 22px 15px;
  color: rgb(212, 212, 212);
}
.fas-tools:hover {
  color: rgb(170, 170, 170);
}

// .map-container{

// }
.route-summary {
  width: 100vw;
  display: flex;
  font-size: 17px;
  letter-spacing: 1.1px;
  box-shadow: 0px -14px 20px -16px #0000004a;
  z-index: 100;
  padding: 0 37px;
}

.item-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.summary-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px 30px;
}

.summart-item > * {
  width: 100%;
}

.selected {
  background: orangered;
}

.route-shell {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  h1 {
    font-size: 1.1em;
    position: relative;

    font-weight: 500;
    &:after {
      content: "";
      position: absolute;
      top: calc(100% + 11px);
      left: 0;
      width: 100%;
      height: 1px;
      background: #ebe9e5;
    }
  }
}
.route-main {
  position: absolute;
  width: 100%;
  height: calc(100vh - 116px);
  z-index: -1;
  transition: all 300ms ease;
}
.resize-route {
  width: calc(100% - 288px);
}

.route-tools {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

#pref-tag {
  position: relative;
  margin-bottom: 2em;
  font-weight: 600;
  &:after {
    content: "";
    position: absolute;
    top: calc(100% + 23px);
    left: 0;
    width: 100%;
    height: 1px;
    background: #ebe9e5;
  }
}
.route-prefs {
  position: absolute;
  left: 0;
  width: 18rem;
  background: white;
  height: 100%;
  padding: 1.2em;
  transition: all 300ms ease;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 1em;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #00000014);
  }

  i.fas.fa-arrow-right {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transform: rotate(180deg);
    transition: 300ms all ease;
    // &:hover,
    // &:target {
    //   transform: scale(1.1);
    // }
  }
  input {
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    border: 1px solid #0000000f;
    background: #f0f8ff6b;
  }
}

.route-item {
  display: grid;
  margin-top: 1em;
  padding: 1em;
  column-gap: 1em;
  border: 1px solid #0000000f;
  background: #f0f8ff6b;
  grid-template-columns: 1em 1fr;
  cursor: pointer;
}

.selected-route-item {
  background: #fc4d02;
  color: white;
  cursor: default;
}

.route-stats {
  width: calc(100% - 4em);
  padding: 1em;
  display: flex;
  position: absolute;
  bottom: -2.5em;
  left: 0;
  background: #ffffffcf;
  box-shadow: 0 0 15px 6px #00000021;
  gap: 4em;
}

.stat-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  h1 {
    font-size: 2em;
    color: #00000096;
    font-weight: 800;
  }
  h2 {
    font-size: 0.9em;
    font-weight: 300;
  }
  i {
    font-size: 2em;
    color: #00000096;
    text-align: center;
  }
}

.slide-left {
  transform: translateX(calc(-100%));
  background: transparent;
  i.fas.fa-arrow-right {
    transform: rotate(0deg);
    right: -79px;
    top: -20px;
    background: #fc4d02;
    padding: 22px;
    color: white;
  }
}
