.dashboard-shell {
  height: 100%;
  width: 100%;
  padding-top: 4em;
}
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;

  h2 {
    font-size: 0.9em;
  }
  h3 {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 75%);
  }
  a {
    font-size: 0.77em;
  }
}
h1.profile-shell_username.bold {
  text-align: center;
  font-size: 1.25em;
}
h1.bold {
  font-size: 2em;
}

.dashboard-container {
  & > section:nth-child(1) {
    flex: 0 1 auto;
    // display: grid;
    // place-content: center;
  }
  & > section:nth-child(2) {
    flex: 0 1 41em;
  }
  & > section:nth-child(3) {
    flex: 0 1 auto;
  }
}

// .dashboard-container {
//   display: grid;
//   grid-template-columns: 280px 660px 280px;
//   grid-template-rows: 500px 100px;
//   gap: 2em;
//   place-content: center;
// }
