.shell {
  border-bottom: rgb(226, 226, 226) 1px solid;
}
.nav-bar {
  display: flex;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 48px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
}

.nav-menu-link {
  text-decoration: none;
  display: flex;
  align-items: baseline;
  border-bottom: 2px solid orangered;
}

.nav-menu-link > li {
  font-size: 14px;
  color: rgb(56, 56, 56);
  font-family: sans-serif;
  padding: 16px 0 20px 30px;
}
.nav-menu-link:first-child li {
  padding-left: 8px;
}
.nav-menu-link:last-child i {
  padding-right: 8px;
}

.nav-menu-link > i {
  font-size: 10px;
  font-weight: bolder;
  padding-left: 4px;
}

.nav-title {
  display: flex;
  align-items: flex-end;
}

.nav-logo {
  color: #fc4d02;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: -2px;
}
.fa-search {
  font-size: 20px;
  color: rgb(56, 56, 56);
  padding: 0 20px 0 15px;
}

.fa-plus-circle {
  font-size: 21px;
  color: #fc4d02c9;
}

.nav-head {
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.nav-btn {
  padding: 6px 16px;
  margin: 0 2px;
  background-color: white;
  border: rgb(216, 216, 216) 1px solid;
  border-radius: 4px;
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  font-size: 14px;
}

.nav-btn:hover {
  background-color: #f1f1f1;
  animation: w-dim 0.2s;
}
.nav-btn:active {
  background-color: #ebebeb;
  animation: w-glow 0.3s;
}
@keyframes w-dim {
  from {
    background: #ffffff;
  }
  to {
    background: #f1f1f1;
  }
}
@keyframes w-glow {
  from {
    background: #f1f1f1;
  }
  to {
    background: #ebebeb;
  }
}
.nav-btn-orange {
  padding: 6px 16px;
  margin: 0 2px;
  background-color: #fc4d02;
  border: rgb(216, 216, 216) 1px solid;
  border-radius: 4px;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  font-size: 14px;
}

.nav-btn-orange:hover {
  background-color: #e9500f;
  animation: o-dim 0.2s;
}

.nav-btn-orange:active {
  background-color: #ff8a1d;
  animation: o-glow 0.3s;
}

@keyframes o-dim {
  from {
    background-color: #fc4d02;
  }
  to {
    background: #e9500f;
  }
}
@keyframes o-glow {
  from {
    background-color: #fc4d02;
  }
  to {
    background: #ff8a1d;
  }
}
