.new-post-shell {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 3em auto;
  gap: 4em;
  textarea {
    width: 100%;
    height: 16em;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: 2.5ch;
    padding: 1em;
    box-sizing: border-box;
    resize: none;
  }
}

.post-new {
  position: relative;
}

.post-new:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2em;
  height: 1px;
  width: 100%;
  background: #e2e2e2;
}

section.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: center;
}

.heading-left {
  display: flex;
  gap: 1em;
}
.heading-right {
  display: flex;
  gap: 1em;
  height: fit-content;
}

.profile-pic img {
  background: #79d7bd;
  border-radius: 50%;
  height: 70px;
  box-shadow: 0px 8px 24px #99999980;
}

.heading-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
}

.post-item {
  margin-bottom: 1em;
  min-width: 41em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  img {
    background: #79d7bd;
    border-radius: 50%;
    height: 50px;
    box-shadow: 0px 8px 24px #99999980;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    color: #ababab;
    font-size: 12px;
  }
}
.post-item-heading {
  display: flex;
  gap: 1em;
}

.post-item-heading {
  & > *:nth-child(1) {
    // background: lightgreen;
    flex: 0 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & > *:nth-child(2) {
    // background: pink;
    flex: 1 1 30%;
  }
  & > *:nth-child(3) {
    // background: lightblue;
    flex: 1 1 30%;
    display: grid;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, #e6e6ef, transparent);
    // background-image: url("car-side-solid.svg");
    &:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      left: -0.5em;
      top: 0;
      background: #e2e2e2;
    }
  }
}
.post-item-body {
  line-height: 1em;
}
h1.post-title {
  margin-top: 10px;
  text-align: left;
  font-size: 29px;
  font-weight: 100;
  line-height: 38px;
}
.post-body {
  line-height: 2ch;
}
.post-item-main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5em;
  i {
    color: #ababab;
  }
}

.post-item-main:after {
  content: "";
  position: absolute;
  top: -1.5em;
  width: 100%;
  height: 1px;
  background: #e2e2e2;
}

.flex .flex-col {
  flex: 1 1 auto;
  font-size: 15px;
  z-index: 1;
}

.activity-share {
  .flex {
    position: relative;
    background: linear-gradient(to left, #ececf3, transparent);
  }
  h4:not(.pace) {
    margin-bottom: 8px;
  }

  .flex-col {
    p {
      font-size: 20px;
      font-weight: 600;
      // color: #3b5451b3;
    }
    .flex-col {
      z-index: 2;
    }
  }
  .numeric-label {
    font-size: 16px;
    padding-left: 4px;
  }
  .post-bg {
    position: absolute;
    color: #79d7bd30;
    z-index: 1;
  }
  i.fas.fa-bicycle {
    font-size: 140px;
    top: -3px;
    left: calc(50% - 59px);
  }
  i.fas.fa-running {
    font-size: 140px;
    left: calc(100% - 157px);
    top: calc(100% - 112px);
  }
  i.fas.fa-car-side {
    font-size: 131px;
    left: calc(50% - 44px);
    top: 14px;
  }

  .post-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .fa-car-side-post-bg-img {
    background-image: url("car-side-solid.svg");
    background-size: cover;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: center;
  }
  .fa-bicycle-post-bg-img {
    background-image: url("bicycle-solid.svg");
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: center;
  }
  .fa-running-post-bg-img {
    background-image: url("running-solid.svg");
    background-size: cover;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: center;
  }
}

.post-item-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-form {
  width: 100%;
}

.comment-field {
  background: #f7f7fa;
  width: 100%;
  box-shadow: 0 0 1px #ababab;
  padding: 8px 7px;
  font-size: 15px;
}

// Getting Started Post

.banner.getting-started {
  width: 100%;
  height: 152px;
  background-image: url("header_image.jpg");
  background-size: cover;
  box-shadow: 0px 8px 24px #99999980;
}

.getting-started {
  overflow: hidden;
  padding: 0px;
  h1 {
    text-align: left;
    font-size: 2em;
  }
  .gs-header {
    &:after {
      content: "";
      position: absolute;
      bottom: -2em;
      height: 1px;
      width: 100%;
      background: #eaeaed;
    }
    h1 {
      margin-bottom: 7px;
    }
    h2 {
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 0.3px;
    }
  }
  .gs-item {
    display: flex;
  }
  .gs-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    h2 {
      font-size: 20px;
    }
    p.light {
      line-height: 20px;
      font-size: 15.5px;
      letter-spacing: 0.3px;
    }
    .button-orange {
      padding: 8px 15px;
      font-weight: 200;
      font-size: 13px;
    }
  }
  .gs-icon {
    background: white;
    font-size: 27px;
    padding: 1em;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 5%);
    color: rgba(0, 0, 0, 0.5);
    place-content: center;
    display: grid;
    height: 10px;
    width: 10px;
  }
  i.fas.fa-file-export.gs-icon {
    padding: 1em;
    padding-left: 35px;
    padding-bottom: 30px;
  }
  i.fas.fa-location-arrow.gs-icon {
    font-size: 21px;
    padding: 27px;
  }
  section {
    gap: 2em;
  }
}

.getting-started-content section {
  &:not(section:last-child) {
    margin-bottom: 4em;
    position: relative;
  }
}
.gs-content {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -2em;
    height: 1px;
    width: 100%;
    background: #eaeaed;
  }
}
#getting-started {
  border-radius: 0px;
}

.getting-started-content {
  padding: 1em;
  transition: 300ms all ease;
  height: 0;
  padding-bottom: 42em;
}

.gsc-hide {
  transform: translateY(-110px);
  height: 0;
  padding-bottom: 0em;
  .gs-header {
    h1 {
      color: white;
    }
    h2 {
      color: white;
    }
    &:after {
      opacity: 0;
    }
  }
}

.post-item#tutorial {
  gap: 0em;
}

#tutorial i.button-grey.fas.fa-times {
  position: absolute;
  background: none;
  box-shadow: 0 0 0;
  color: white;
}

.hide {
  display: none;
}
