.new-post-shell {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 3em auto;
  gap: 4em;
  textarea {
    width: 100%;
    height: 16em;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: 2.5ch;
    padding: 1em;
    box-sizing: border-box;
  }
}

.post-new {
  position: relative;
}

.post-new:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2em;
  height: 1px;
  width: 100%;
  background: #e2e2e2;
}

section.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: center;
}

.heading-left {
  display: flex;
  gap: 1em;
}
.heading-right {
  display: flex;
  gap: 1em;
  height: fit-content;
}

.profile-pic img {
  background: #79d7bd;
  border-radius: 50%;
  height: 70px;
  box-shadow: 0px 8px 24px #99999980;
}

.heading-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
}
