.new-post-shell {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 3em auto;
  gap: 4em;
  textarea {
    width: 100%;
    height: 16em;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: 2.5ch;
    padding: 1em;
    box-sizing: border-box;
    resize: none;
  }
}

.post-new {
  position: relative;
}

.post-new:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2em;
  height: 1px;
  width: 100%;
  background: #e2e2e2;
}

section.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: center;
}

.heading-left {
  display: flex;
  gap: 1em;
}
.heading-right {
  display: flex;
  gap: 1em;
  height: fit-content;
}

.profile-pic img {
  background: #79d7bd;
  border-radius: 50%;
  height: 70px;
  box-shadow: 0px 8px 24px #99999980;
}

.heading-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
}

.post-item {
  margin-bottom: 1em;
  min-width: 41em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  img {
    background: #79d7bd;
    border-radius: 50%;
    height: 50px;
    box-shadow: 0px 8px 24px #99999980;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    color: #ababab;
    font-size: 12px;
  }
}
.post-item-heading {
  display: flex;
  gap: 1em;
}

.post-item-heading {
  & > *:nth-child(1) {
    background: lightgreen;
    flex: 0 0 40px;
    display: grid;
    align-items: center;
    i {
      font-size: 2em;
    }
  }
  & > *:nth-child(2) {
    background: pink;
    flex: 1 1 30%;
  }
  & > *:nth-child(3) {
    background: lightblue;
    flex: 1 1 30%;
    display: grid;
    align-items: center;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      left: -0.5em;
      top: 0;
      background: #e2e2e2;
    }
  }
}
.post-item-body {
  line-height: 1em;
}
h1.post-title {
  margin: 20px 0 3px 0;
  text-align: left;
}
.post-body {
  line-height: 2ch;
}
.post-item-main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5em;
  i {
    color: #ababab;
  }
}

.post-item-main:after {
  content: "";
  position: absolute;
  top: -1.5em;
  width: 100%;
  height: 1px;
  background: #e2e2e2;
}

.flex .flex-col {
  flex: 1 1 auto;
  font-size: 15px;
}

.buggout-share {
  .flex-col:last-child {
    align-items: center;
  }
}
