.fullscreen-main {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #f7f8fa;
  font-family: sans-serif;
}

.primary-main {
  min-width: 960px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin: 65px auto 0px auto;
  max-width: 63%;
}

.main-sidebar {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 31.5%;
}

.profile-container {
  width: 100%;
  padding: 55px 20px 20px 20px;
  border-radius: 4px;
  background-color: white;
  color: rgb(26, 26, 26);
  box-shadow: 0px 0px 22px -11px #0000004a;
  margin: 0 auto 20px auto;
}
.trip-container {
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
  background-color: white;
  color: rgb(26, 26, 26);
  box-shadow: 0px 0px 22px -11px #0000004a;
  margin: 0 auto 20px auto;
}

.main-primary-content {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 65%;
}

.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  background-color: white;
  color: rgb(26, 26, 26);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px 2px;
  padding: 20px;
}
