<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&m_{wFtdqbMe@c@Pm@AMiCcBaAo@@Eb@sAKGGMRo@z@mCVq@bAaDxAyEvEaOZaAJUb@u@Rs@LcALm@|@gAZWJSJa@b@mATi@@q@?WBSDg@FQH_@Dc@By@Ji@r@{AAyACQ^qC@c@GSAUDa@Xw@HiA?i@Gc@Mm@KSMMPmAsAiACAKDCKCY?q@Bm@Rw@\\gA@GQKd@yArBqG~AcFzFwQxDuLh@eB_BeAiGaE{JwGaC{AOQQEoBoAu@i@_EkC[SWz@eDfK_EfMsAhE]fA&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
</p>